librosa
plexapi>=3.0.6
joblib==0.11
numpy
docopt
click
scipy
matplotlib
psutil
#profilehooks
srt
sqlalchemy
configobj
youtube-dl
beautifulsoup4
html5lib
#opencv-contrib-python
#pytesseract
#pocketsphinx
#SpeechRecognition
tablib


# Any more i have forgotten?
# just pip until your have fixed the errors xD



