
librosa
# lets pin websocket-client until the bugs are fixed
plexapi>=3.0.6
# Lets install from source
#git+git://github.com/pkkid/python-plexapi.git@master#egg=plexapi
joblib
numpy
docopt
click
scipy
matplotlib
psutil
#profilehooks
srt
sqlalchemy
configobj
youtube-dl
beautifulsoup4
html5lib
tablib
lomond>=0.3.3
PyChromecast>=3.2.2





# Any more i have forgotten?
# just pip until your have fixed the errors xD



