librosa
plexapi>=3.0.6
joblib
numpy
docopt
click
scipy
matplotlib
psutil
profilehooks
sqlalchemy
configobj
youtube-dl
beautifulsoup4
html5lib
opencv-contrib-python
pytesseract
pocketsphinx
SpeechRecognition
tablib

# Any more i have forgotten?
# just pip until your have fixed the errors xD



